.container-fluid.float-end.authenticated.right-panel {
  width: 33.3333%;
}

div#suggestedUsersCard {
  max-width: 22rem;
}

h2 {
  font-size: 1.333rem;
  font-weight: 700;
}

.authenticated .card {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(239, 243, 244);
  background-color: rgba(255, 255, 255, 1);
}

button.btn.btn-primary--dark.d-inline.rounded-pill.float-end:active, button.btn.btn-primary--dark.d-inline.rounded-pill.float-end:hover, button.btn.btn-primary--dark.d-inline.rounded-pill.float-end:focus-visible {
  color: white;
  background-color: black;
  border-color: black;
  opacity: 1;
}
