html {
    overflow-y: scroll;
    overscroll-behavior-y: none;
    font-size: 15px;
    display: block;
    font-family: 'Times New Roman', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

    html body main {
        min-height: 92.5vh;
    }

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif background-color: #FFFFFF;
}

head {
    display: none;
}

.btn-primary {
    background-color: black;
    border-color: black;
}
