svg {
    fill: currentColor;
    max-height: 25rem;
    height: 50%;
    max-width: 100%;
    stroke-width: 1rem;
    padding: 0;
    color: rgba(15,20,25,1.00);
    -webkit-box-pack: center;
    justify-content: center;
    webkit-justify-content: center;
    -ms-flex-pack: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: text-bottom;
    position: relative;
    display: inline-block;
}

    svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: hidden;
    }

h1 {
    font-size: 4.271rem;
}

.height-full {
    min-height: 92.5vh;
}

.col-happening-now {
    margin-top: 0;
    margin-bottom: 5rem;
}


div.join-today {
    margin-bottom: 2rem;
    line-height: 1rem;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
    min-width: 0px;
    color: rgba(15,20,25,1.00);
    border: 0 solid black;
    box-sizing: border-box;
    display: block; /* change this to block or inline-block */
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    white-space: pre-wrap;
}

    div.join-today span {
        font-family: inherit;
        word-wrap: break-word;
        min-width: 0px;
        color: inherit;
        white-space: inherit;
        border: 0 solid black;
        box-sizing: border-box;
        display: inline;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        float: left;
    }

button.btn.create-account {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(29, 155, 240);
    color: #fff;
}

    button.btn.create-account:focus, a.create-account:hover {
        outline: none;
        color: #fff;
        background-color: #1b8cd8;
    }

div.disclaimer {
    font-size: 0.7333333333333333rem;
}

.lbl-existing-account {
    font-size: 1.133333333333333rem;
}

a.sign-in {
    border-color: #ced4da;
    color: #2599e6;
}

    a.sign-in:hover, a.sign-in:focus {
        background-color: #e8f5fd;
        border-color: #ced4da;
        color: #2599e6;
    }
