@model brian.worsham.twitter.clone2.Models.Likes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Likes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikedTweet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikedTweet.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserThatLikedTweet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserThatLikedTweet.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
