.user-img {
    height: 3rem;
    width: 3rem;
    border-color: rgba(255,255,255,1.00);
    border-style: solid;
    border-width: .2rem;
    padding: .5rem;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(239, 243, 244);
    background-color: rgba(255,255,255,1.00);
}

.card-body button.btn-link.icon:focus, .card-body button.btn-link.icon:hover {
    opacity: 0.5;
    border-radius: 50%;
    height: 2.1rem;
    width: 2.1rem;
}

.card-body button.btn-link.icon-like:focus, .card-body button.btn-link.icon-like:hover {
    color: lightpink;
    background-color: lightpink;
}

.card-body button.btn-link.icon-like path:focus, .card-body button.btn-link.icon-like path:hover {
    fill: pink;
}

.card-body button.btn-link.icon-retweet:focus, .card-body button.btn-link.icon-retweet:hover {
    color: lawngreen;
    background-color: lawngreen;
}

.card-body button.btn-link.icon-retweet path:focus, .card-body button.btn-link.icon-retweet path:hover {
    fill: lawngreen;
}

.card-body button.btn-link.icon-comment:focus, .card-body button.btn-link.icon-comment:hover {
    color: lightblue;
    background-color: lightblue;
}

.card-body button.btn-link.icon-comment path:focus, .card-body button.btn-link.icon-comment path:hover {
    fill: lightblue;
}

.card-text, .card-title a, a.go-back {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

#profile img.profile-backdrop {
    height: 12rem;
    background-color: #d0d9de;
    background-image: linear-gradient(to right, rgba(255,255,255,0.00), rgba(255,255,255,1.00));
    border: none;
}

#profile img.profile-picture {
    height: 6rem;
    width: 6rem;
    border-color: rgba(255,255,255,1.00);
    border-style: solid;
    border-width: .2rem;
    position: absolute;
    top: 9rem;
    left: 1rem;
}

#profile .profile-btn {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 1rem;
    top: 13rem;
    border-color: #d0d9de;
    background-color: rgba(255,255,255,1.00);
}

    #profile .profile-btn:hover {
        background-color: rgba(29, 155, 240, 0.1);
    }

textarea#textAreaBio {
    min-height: 6rem;
}
