<div *ngIf="tweetsFeed">
  <div class="row g-0" *ngFor="let tweet of tweetsFeed.Tweets.$values">
    <div class="col col-1">
      <img class="user-img rounded-circle" src="../../assets/images/uploads/profile_pictures/{{tweet.TweeterProfilePictureUrl}}" title="profile picture" />
    </div>
    <div class="col col-11">
      <div class="card border-start-0">
        <div class="card-body">
          <div class="card-title">
            <!-- Todo: Creeate a userProfile component. Add aroute to user profile and figure out how to pass the user's id to the controller. Route should be like users/profile/UserId="@tweet.TweeterUserId" -->
            <a [routerLink]="['/profile']">
              <span class="fw-bold">{{tweet.TweeterUserName}}</span><span class="text-secondary"> . </span> <span class="text-secondary">{{tweet.TimeAgo}} </span>
            </a>
          </div>
          <p class="card-text">
            <a class="card-text" asp-controller="Tweets" asp-action="TweetAndRelatedComments" asp-route-tweetId="@tweet.Id">
              <span class="card-text">{{tweet.Content}}</span>
            </a>
          </p>
          <!-- Todo: Implement Create Comment Modal -->
          <!-- @{
        CreateCommentModalModel createCommentModalModel = new CreateCommentModalModel()
        { TweetId = tweet.Id, Index = index, CurrentUserId = Model.currentUserId, TweeterUserName = tweet.TweeterUserName, TimeAgo = @TimeAgo(tweet.TimeSincePosted), TweetContent = tweet.Content };
        TweetActionsRowModel tweetActionsRowModel = new() { Tweet = tweet, Index = index };
        }
        <partial name="_CreateCommentModal" model="@createCommentModalModel" />
      -->
          <app-tweet-actions-row [commentsCount]="tweet.Comments.$values.length" [likesCount]="tweet.Likes.$values.length" [reTweetsCount]="tweet.Retweets.$values.length"></app-tweet-actions-row>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- index++;
} -->
