button#btnSave:active, button#btnSave:hover, button#btnSave:focus-visible {
  color: white;
  background-color: black;
  border-color: black;
  opacity: 1;
}

textarea#textAreaBio {
  min-height: 6rem;
}

.upload{
  font-weight:bold;
  color:#28a745;
  margin-left: 15px;
  line-height: 36px;
}
