.user-img {
    height: 3rem;
    width: 3rem;
    border-color: rgba(255,255,255,1.00);
    border-style: solid;
    border-width: .2rem;
    padding: .5rem;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(239, 243, 244);
    background-color: rgba(255,255,255,1.00);
}

.card-text {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}
