footer {
	font-size: 0.8666666666666667rem;
	font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 0.5rem;
}
