/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html {
	overflow-y: scroll;
  -webkit-overscroll-behavior-y: none;
	overscroll-behavior-y: none;
	font-size: 15px;
	display: block;
	font-family: "Times New Roman", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html body main {
	min-height: 92.5vh;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}

head {
	display: none;
}

.btn-primary--dark {
	background-color: black;
	border-color: black;
	color: white;
	font-weight: 700;
}

.btn-primary--dark:hover {
	opacity: 0.9;
	color: white;
}

@import "authenticated.css";
/* @import "unauthenticated.css"; */

