button.btn.login {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgb(29, 155, 240);
	color: #fff;
}

button.btn.login:focus,
a.login:hover {
	outline: none;
	color: #fff;
	background-color: #1b8cd8;
}



button.btn.btn-primary--dark.m-2:active, button.btn.btn-primary--dark.m-2:hover, button.btn.btn-primary--dark.m-2:focus-visible {
  color: white;
  background-color: black;
  border-color: black;
  opacity: 1;
}
