@model worsham.twitter.clone.Models.Follows

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Follows</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowedUser.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowerUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowerUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
