<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - brian.worsham.twitter.clone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="YourProjectName.styles.css" />
    <link rel="stylesheet" href="~/brian.worsham.twitter.clone.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/authenticated.css" asp-append-version="true" />
</head>
<body>
    <header class="float-start mt-0 pe-5" style="width: 33.3333%;">
        <nav class="nav flex-column float-end fs-5 text-break">
            <h1 role="heading" class="ms-2">
                <a asp-action="Index" asp-controller="Tweets" aria-label="Twitter" role="link" class="">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="logo">
                        <g>
                            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
                        </g>
                    </svg>
                </a>
            </h1>
            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link disabled">Explore</a>
            <a class="nav-link disabled">Notifications</a>
            <a class="nav-link disabled">Messages</a>
            <a class="nav-link disabled">Lists</a>
            <a class="nav-link disabled">Bookmarks</a>
            <a class="nav-link disabled">Communities</a>
            <a class="nav-link disabled">Verified</a>
            <a class="nav-link" asp-controller="Users" asp-action="Profile">Profile</a>
            <a class="nav-link disabled">More</a>
        </nav>
    </header>

    <div class="container-fluid float-start content authenticated" style="width: 33.3333%;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid float-end" style="width: 33.3333;">
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
